
body {
    overflow-y: scroll;
    font-family: Inter;
}
td, th {
    border: 3px solid #D9D9D9;
    padding: 0;
}
td {
    background-color: white;
}
th {
    background-color: #1B3168;
    color: white;
    padding: 1%;
}
table {
    font-size: 20px;
    text-align: center;
    border-collapse: collapse;
    border: 3px solid black;
    margin-right: 0;
}



button {
    font-size: 16px;
}
.partenaires img {
    width: 50%;
    padding: 2%;
}
h1 {
    text-align: center;
    font-size: 300%;
}
.menu {
    width: 100%;
    display: flex;
    justify-content: center;
}
.menubutton {
    border: 3px solid;
    padding: 2%;
    width: 20%;
    text-align: center;
    font-size: 150%;
    margin: 1%;
    border-radius: 7% / 20%;
    background-color: white;
    transition: .3s;
    border-color: #DDDDDD;
}
.menubutton:hover {
    transition: .3s;
    background-color: #1B3168;
    color: white;
    transform: scale(1.05);
    border-color: #1B3168;
}

.deleteform {
    width: 40%;
    border: 3px solid #000000;
    border-radius: 5% / 10%;
    margin: 0 20% 0 20%;
    position: fixed;
    z-index: 2;
    padding: 10%;
    background-color: #FFFFFF;
    text-align: center;
    font-size: 150%;
    display: none;
}
.deleteform form {
    margin: 0;
}
section button, .deleteform button {
    border: 3px solid #1B3168;
    background-color: white;
    padding: 1% 2%;
    margin: 1% 0 1% 0;
    font-size: 100%;
}
section button {
    width: 60%;
    border-radius: 7% / 30%;
}
.deleteform button {
    width: 40%;
    border-radius: 5% / 30%;
}
section button:hover, .deleteform button:hover {
    transition: .3s;
    background-color: #1B3168;
    color: white;
}
section form {
    margin: 0;
}
.bg {
    margin: -20% 0 0 -10%;
    background-color: #DDDDDD;
    opacity: 0.8;
    position: fixed;
    width: 200%;
    height: 200%;
    z-index: 1;
    display: none;
}
.affiche {
    display: none;
}